@import "settings";
// @import   "foundation/components/accordion";
// @import   "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
// @import   "foundation/components/breadcrumbs";
// @import   "foundation/components/button-groups";
@import "foundation/components/buttons";
// @import   "foundation/components/clearing";
// @import   "foundation/components/dropdown";
// @import   "foundation/components/dropdown-buttons";
// @import   "foundation/components/flex-video";
// @import   "foundation/components/forms";
@import "foundation/components/grid";
// @import   "foundation/components/inline-lists";
// @import   "foundation/components/joyride";
// @import   "foundation/components/keystrokes";
// @import   "foundation/components/labels";
// @import   "foundation/components/magellan";
// @import   "foundation/components/orbit";
// @import   "foundation/components/pagination";
// @import   "foundation/components/panels";
// @import   "foundation/components/pricing-tables";
// @import   "foundation/components/progress-bars";
// @import   "foundation/components/reveal";
// @import   "foundation/components/side-nav";
// @import   "foundation/components/split-buttons";
// @import   "foundation/components/sub-nav";
// @import   "foundation/components/switches";
// @import   "foundation/components/tables";
// @import   "foundation/components/tabs";
// @import   "foundation/components/thumbs";
// @import   "foundation/components/tooltips";
// @import   "foundation/components/top-bar";
@import "foundation/components/type";
// @import   "foundation/components/offcanvas";
// @import   "foundation/components/visibility";

html, body {
    height:auto;
}

body {
    background-color: #2196F3;
    h1 {
        color: #FFF;
        font-weight: "bold";
        text-align: center;
    }
    h2 {
        color: #BBDEFB;
        font-weight:normal;
        font-family: Raleway, sans-serif;
        text-align: center;
    }
    ul {
        list-style: none;
        background-color: #E3F2FD;
        border-radius: 0.3em;
        cursor: pointer;
        font-family: Raleway, sans-serif;
        margin: 0.5em auto 0.5em auto;
        padding:0.5em;
        text-align: center;
        max-width: 325px;
    }
    button {
        padding: 20px;
        display: inline-block;
        background-color: #FFEB3B;
        color: #0D47A1;
        border-radius: 0.3em;
        position: relative;
    }
    .return-listing {
        background-color:#FFEB3B;
        color: #0D47A1;
        cursor: pointer;
        padding-left:1em;
    }
    .main-table {
        margin:auto;
        th {
            vertical-align: top;
            padding: 0.75em 0.25em 0 0;
            text-align: right;
        }
        ul {
            vertical-align: top;
            font-size:0.9em;
            width:12em;
        }
    }
}

@media only screen { 
    body {
        h1 {
            font-size:2.5em;
        }
        h2 {
            font-size:1.5em;
        }
        .main-table {
            ul {
                display:block;
                height:auto;
            }
        }
    }
}

@media only screen and (min-width: 40.063em) { 
    body {
        h1 {
            font-size:3.5em;
        }
        h2 {
            font-size:2em;
        }
        .main-table {
            ul {
                display:inline-block;
                height:100%;
            }
        }
    }
}

@media only screen and (min-width: 64.063em) { 
    body {
        h1 {
            font-size:4.5em;
        }
        h2 {
            font-size:2.5em;
        }
        .main-table {
            ul {
                display:inline-block;
                height:100%;
                font-size:1em;
                width:14em;
            }
        }
    }
}