@import "settings";
// @import   "foundation/components/accordion";
// @import   "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
// @import   "foundation/components/breadcrumbs";
// @import   "foundation/components/button-groups";
@import "foundation/components/buttons";
// @import   "foundation/components/clearing";
// @import   "foundation/components/dropdown";
// @import   "foundation/components/dropdown-buttons";
// @import   "foundation/components/flex-video";
// @import   "foundation/components/forms";
@import "foundation/components/grid";
// @import   "foundation/components/inline-lists";
// @import   "foundation/components/joyride";
// @import   "foundation/components/keystrokes";
// @import   "foundation/components/labels";
// @import   "foundation/components/magellan";
// @import   "foundation/components/orbit";
// @import   "foundation/components/pagination";
// @import   "foundation/components/panels";
// @import   "foundation/components/pricing-tables";
// @import   "foundation/components/progress-bars";
// @import   "foundation/components/reveal";
// @import   "foundation/components/side-nav";
// @import   "foundation/components/split-buttons";
// @import   "foundation/components/sub-nav";
// @import   "foundation/components/switches";
// @import   "foundation/components/tables";
// @import   "foundation/components/tabs";
// @import   "foundation/components/thumbs";
// @import   "foundation/components/tooltips";
// @import   "foundation/components/top-bar";
@import "foundation/components/type";
// @import   "foundation/components/offcanvas";
// @import   "foundation/components/visibility";
body {
    background-color: #2196F3;
    h1 {
        color: #FFF;
        font-weight: "bold";
        font-size: 5em;
        text-align: center;
    }
}

h2 {
    color: #BBDEFB;
    font-weight:normal;
    font-family: Raleway, sans-serif;
    margin-top: 2em;
    text-align: center;
      
}

ul {
    list-style: none;
    background-color: #E3F2FD;
    border-radius: 0.3em;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    margin: auto;
    margin-top:1em;
    margin-bottom:1em;
    padding:0.5em;
    text-align: center;
    max-width: 325px;
    
}

li {
    color: (0, 0, 0, 0, 87);
}

button {
    padding: 20px;
    display: inline-block;
    background-color: #FFEB3B;
    color: #0D47A1;
    border-radius: 0.3em;
}

.return-listing {
    background-color:#FFEB3B;
    color: #0D47A1;
    padding-left: 0.3em;
    cursor: pointer;
    padding-left:1em;
    
}

.list-title {
    border: 1px solid black;
}

.btn-previous {
    position: relative;
}

.btn-next {
    position: relative;
}

.main-table {
    th {
        vertical-align: top;
        padding: 0.5em;
        text-align: right;
        td {
            padding: 0.5em;
            vertical-align: top;
        }
    }
    ul {
        margin: 0.5em;
        vertical-align: top;
    }
}

.main-table tr {
    margin-left: 10em;
}



